.reviews-wrap{
  .uinfo{
    display: flex;
    align-items: center;
    margin-top:8px;

    .head{
      width: 30px;
      height: 30px;
      height: 30px;
      margin-right: 10px;

      img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    .nickname{
      font-size: 14px;
    }
  }

  .reviews-content{
    font-size: 14px;
    margin-top:8px;
  }

  .reviews-time{
    font-size: 14px;
    color:#7b7f82;
    margin-top:5px;
  }

 
}